@import "styles/mixins/breakpoint";

.enter, .exit {
  pointer-events: none;
}

.enter, .exit, .enterDone {
  visibility: visible;
}

.enter {
  opacity: 0;
  transform: translateY(-100%);
  @include breakpoint(md) {
    opacity: 1;
    transform: none;
  }
}

.enterActive {
  opacity: 1;
  transform: none;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  @include breakpoint(md) {
    opacity: 1;
    transform: none;
  }
}